body{
    margin: auto;
    padding: 0 auto;
    
}

header{
width: 1400px;
margin:0 auto;
height: 2692px;
padding: 40px 50px;
background-image: url("../Images/bg.png");
background-repeat: no-repeat;
background-size: cover;
}
.hero-left> h1{
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    font-family: Inter;
    justify-content: space-between;
    color: #ffffff;
}

.nav-title{
    color: #FFF;
    opacity: 0.75;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.logo img{
width: 48px;
height: 48px;
padding: 0 10px;

}

nav > ul{
    display: flex;
    color: #ffffff;
}
nav li {
color: #FFF;
list-style: none;
margin: 0px 25px;
font-size: 24px;
font-weight: 500;

opacity: .75;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
span{
margin-right: 10px;
margin-left: 10px;
padding: 10px;
font-family: Inter;
font-size: 24px;
}


.hero-container{
    /* position: absolute; */
    color: #ffffff;
    /* margin-top: 50px; */
    display: flex;
}

.hero-left{
    margin-top: 100px;
    padding-right: 70px;
    /* padding: 0 50px; */
}
.hero-left h1{
color: #FFF;
font-size: 90px;
font-family: Inter;
opacity: 0.75;

}
.natural{ 
    color: rgb(36, 130, 36);
    font-size: 90px;
}

.hero-left p{
    color: #FFF;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .75;
}


.user_main{
font-family: Inter;
width: 409px;
height: 237px;
flex-shrink: 0;
margin-top: 200px;
background: #5c5c5c00;
    border-radius: 50px 0px 50px 0px;
    padding: 40px;
   border:1px solid rgb(205, 205, 205);
   backdrop-filter: blur(12.5px);
}
.user_main:hover{
    border: 2px solid rgb(36, 130, 36);
}
.user{
    display: flex;
    align-items: center;
    padding:10px 20px;
    /* justify-content: space-around; */
}
.user>img{
    margin-right: 30px;
}
.alina>p{
    margin-top: 0;
    margin-bottom: 0;
}
.alina>i{
    font-size: 12px;
    color: #FFF84E;
}
/* --------------------Treeeeeeeeeee */
.tree1{
   position: relative;
   height: 459px;
   width: 469px;
   z-index: 2;
}
.tree1> img{
    width: 100%;
    
}
.hero-right:hover{
  
   
}
.box-des{
    background: #5c5c5c00;
    border-radius: 50px 0px 50px 0px;
    padding-top: 250px;
    padding-bottom: 100px;
    padding-left: 50px;
    margin-top: -330px;
   border:1px solid rgb(205, 205, 205);
   backdrop-filter: blur(12.5px);
   opacity: .75;
}
.box-des:hover{
    border: 3px solid rgb(36, 130, 36);
    transition: 1s;
}

.trendy{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.trendy>h2{
    font-size: 38px;
}
.star{
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    padding-right: 20px;
    
}
.star>.s{
    color: #FFF84E;
    font-size: 15px;
}

.trendy>p{
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
font-size: 38px;
margin: 0;
margin-bottom: 30px;
}
.primary-btn{
  padding: 10px 40px;
  font-size: 25px;
  background: none;
  color: #FFF;
  border: 3px solid rgb(205, 205, 205);
  border-radius: 15px 0px 15px 0px;
  font-style: normal;
  font-weight: 400;  
}
.primary-btn:hover{
    border: 3px solid rgb(36, 130, 36);
    /* transition: 1s; */
}
.btn{
    display: flex;
    align-items: center;
}
.btn>.live{
 margin: 0;
 padding: 0;
 font-size: 20px;
}
.icon{
    fill: #FFF;
    font-size: 45px;
}

/* -----------------------------Our Trendy plants----------------- */


.trendy-h>h1{
color: #FFF;
text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.36), 0px 50.049px 40.039px rgba(0, 0, 0, 0.27), 0px 30.147px 24.118px rgba(0, 0, 0, 0.23), 0px 19.32px 15.456px rgba(0, 0, 0, 0.21), 0px 12.522px 10.017px rgba(0, 0, 0, 0.18), 0px 7.882px 6.306px rgba(0, 0, 0, 0.15), 0px 4.529px 3.623px rgba(0, 0, 0, 0.13), 0px 1.993px 1.595px rgba(0, 0, 0, 0.09);
text-align: center;
font-family: Inter;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 100px;
padding-bottom: 100px;
}

.trendy_section{
/* position: absolute; */
height: 526px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: space-around;
background: #5c5c5c00;
color: #FFF;
border-radius: 50px 0px 50px 0px;
font-family: Inter;
/* padding-right: 20px; */
margin-bottom: 250px;
border:1px solid rgb(205, 205, 205);
backdrop-filter: blur(12.5px);
}
.trendy_section2{
 height: 526px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: space-around;
background: #5c5c5c00;
color: #FFF;
border-radius: 50px 0px 50px 0px;
font-family: Inter;
border:1px solid rgb(205, 205, 205);
backdrop-filter: blur(12.5px);
}
.trendy_section:hover{
    border: 3px solid rgb(36, 130, 36);
}
.trendy_section2:hover{
    border: 3px solid rgb(36, 130, 36);
}
.trendy_img>img{
    position: relative;
   margin-left: -50px;
    margin-top: -180px;
}
.trendy_img3>img{
    position: relative;
    margin-right: -150px;
    /* background: #000; */
}
.trendy_des{
    /* background: #000; */
    padding:0 50px;
    font-family: Inter;
}
.trendy_des>h3{
    font-size: 38px;
    font-weight: 600;
}
.trendy_des>p{
    font-family: Inter;
    font-size: 28px;
}
.trendy_des>h2{
    font-family: Inter;
    font-size: 38px;
}

/*-------------------------------- Our Top Selling */

.grid-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-bottom: 100px;
}
.second-container{
    width: 1400px;
    margin:0 auto;
    /* height: 2692px; */
    padding: 40px 50px;
   background: #1B2316;
   padding-bottom: 100px;
}
.selling{
color: #FFF;
font-family: Inter;
text-align: center;
font-size: 45px;
}

.hrrr{
    width: 40%;
    
}
.tree-container{
width: 380px;
height: 450px;
flex-shrink: 0;
background: #5c5c5c25;
color: #FFF;
border-radius: 50px 0px 50px 0px;
font-family: Inter;
border:1px solid rgb(205, 205, 205);
backdrop-filter: blur(12.5px);
margin-top: 200px;
padding: 20px;
opacity: .75;
}
.tree-container:hover{
    border: 3px solid rgb(36, 130, 36);
    /* transition: 1s;  */
}
.tree-container>img{
    width: 100%;
}

.treecontainer-des{
position: relative;
margin-top: -120px;
padding: 0 20px;
}
.treecontainer-des>h3{
font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 400;
margin: 45px 0px;
}
.treecontainer-des>p{
    font-family: Inter;
    font-size: 24px;
    margin:2px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 20px;
}
.price>span{
    color: #fdfffe;
    font-size: 40px;
}
.tree-container>img{
    margin-top: -120px;
    
}

.comment-container{
    color: #FFF;
}

.comment-container{
    /* background: #000; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 100px;
    
}
.comment{
    width: 332px;
    height: 180px;
    background: #5c5c5c00;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 0 0px 20px 0 rgb(168, 171, 167);
    padding: 40px;
    border:1px solid rgb(205, 205, 205);
    backdrop-filter: blur(12.5px);
    margin-top: 100px;
}

.userr{
    display: flex;
    align-items: center;
    padding:10px 20px;
    /* justify-content: space-around; */
}
.comment>p{
    font-size: 18px;
    font-family: Inter;
}
.userr>img{
    margin-right: 30px;
}
.alina>p{
    margin-top: 0;
    margin-bottom: 0;
}
.alina>i{
    font-size: 12px;
    color: #FFF84E;
}

.chatbox{
    display: flex;
    justify-content: center;
   height: 550px;
    width: 60%;
    margin: auto;
    background: #000;
    background-image: url("../Images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #b1b1b1; */
   
    border-radius: 40px;
    color: #FFF;
    background: #5c5c5c00;
    /* box-shadow: 0 0px 20px 0 rgb(168, 171, 167); */
    border:1px solid rgb(205, 205, 205);
    /* backdrop-filter: blur(12.5px); */
    margin-top: 200px;
}
.get>h3{
    text-align: center;
    font-size: 35px;
    font-family: Inter;
}
.in{
    padding:0px 40px;
    /* margin:0 40px; */
}

.form-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}
textarea{
    width: 90%;
    /* padding:0px 0px; */
}
.in>p{
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
}
.web{
    width: 90%;
    padding:0px 40px;
    /* margin: 0 30px; */
}
.web>p{
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
}
.web>textarea{
    padding: 40px;
    background: none;
    margin-bottom: 20px;
}
.web>input{
    width: 100%;
    padding:20px 10px;
    color:#FFF ;
    font-size: 35px;
    font-family: Inter;
    font-weight: 700;


}
input{
    width: 100%;
    font-size: 20px;
    padding: 12px;
    border: 2px solid white;
    background: none;

  }